/* Basic Styles for News Card */
.news-card {
  margin-bottom: 20px; /* Space between cards */
  border: 1px solid #ddd; /* Border for the card */
  background-color: lightgrey; /* Light grey background */
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 100%; /* Full width on mobile */
  min-width: 300px; /* Minimum width for cards */
  max-width: 350px; /* Maximum width for cards */
}

/* News Card Image */
.news-card .news-image {
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Card Body */
.news-card .card-body {
  padding: 15px;
  position: relative; /* For absolute positioning of the button */
}

/* News Title */
.news-card .news-title {
  color: #333;
  margin-top: 0;
}

/* News Description */
.news-card .news-description {
  color: #666;
}

/* Read More Button - Initially Hidden */
.news-card .news-link {
  position: absolute;
  bottom: 15px;
  right: 15px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

/* Hover Effects for Larger Screens */
@media (min-width: 992px) {
  .news-card {
    margin-bottom: 20px;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1),
        0px 5px 15px rgba(0, 0, 0, 0.07);
      transform: scale(1.03);

      .news-link {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

/* Flex Container Adjustment for Larger Screens */
@media (min-width: 992px) {
  .main-news {
    justify-content: flex-start;
  }
}
